    msrestazure~=0.4.34
    mock==2.0.0
    jinja2 
    jinja2-time
    getpass2
    pprint
    uuid
	requests==2.21.0
    azure-mgmt-datalake-analytics 
    azure-mgmt-resource 
    azure-mgmt-datalake-store 
    azure-datalake-store 
    azure-common 
    adal
    paramiko
    azure-storage 
    ftputil
    flask_bcrypt
    polling
    google-cloud-bigquery 
    google-cloud-storage 
    gsutil
    boto3
    cx_Oracle
    pycrypto
    azure.mgmt.datafactory
    awscli    
    kombu==4.3.0	
    azure-keyvault==0.3.7
    psycopg2-binary
    